/* these are augmentations to the standard libs */
/* this corrects 'standard' things that we find silly */
/* it adds new styles that we believe ought to be standard */

/* buttons have the pointer, but anything clickable should indicate that it is */
/* that said, avoid black magic; clickable items should be obvious for other reasons */
/* - e.g. standard placement (x in the top right), standard usage (hide/collapse icons that don't need to be a btn) */
[ng-click] {
    cursor: pointer;
}

/* I really don't know why progress bars even have a margin-bottom */
.progress {
    margin-bottom: 0;
}

/* new bootstrap table class */
.table.table-minimal>tbody>tr>th,
.table.table-minimal>tbody>tr>td {
    border: none;
}

/* sometimes you want a column to be as small as it can be */
/* this is usually for columns with a single icon */
/* more generally it's for columns meant as controls (as opposed to informative display) */
th.min-width,
td.min-width {
    width: 1px;
}

/* bugfix */
.input-group .form-control-feedback {
    z-index: 3;
}

/* new bootstrap class */
.input-group-addon.minimal {
    background: none;
    border: none;
}

/** add a separator .navbar-right */
.collapse.in .navbar-right {
    border-top: 1px solid lightgrey;
}

/* bootstrap sets the margin to 0; I'm really not sure why */
dd {
    margin-left: 2em;
}
