@import "augmentations.css";
@import "common/search-result.css";

body.home.day ng-view::after { background: url("images/Wallpaper_2_desktop.jpg"); }
body.home.night ng-view::after { background: url("images/Wallpaper_4_desktop.jpg"); }
@media screen and (orientation:portrait) {
  body.home.day ng-view::after { background: url("images/Wallpaper_2_mobile.jpg"); }
  body.home.night ng-view::after { background: url("images/Wallpaper_4_mobile.jpg"); }
}
body ng-view::after {
  content: "";
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.container {
  margin-top: 5em;
  margin-bottom: 3em;
}

.navbar-brand > img {
  height: 2em;
  display: inline;
  margin: -0.5em -0.2em 0 -0.5em;
}

.jumbotron h1 {
  margin-top: 10.5px; /* to match the margin-bottom */
}

.glados {
  font-family: monospace;
}

.form-inline input.form-control[type="number"] {
  width: 5em;
}

.table.collapsible>thead>tr>th.title {
  font-size: 1.4em;
  font-weight: normal;
}
.table.collapsible>thead>tr>th {
  vertical-align: middle;
}

[selected-item] section > header > h2 {
  font-size: 1em;
  margin: 0.5em 0;
}
[selected-item] div.panel-body {
  padding: 0.5em 1em 1em 1em;
}
[selected-item] section+section {
  margin-top: 1em;
}
[selected-item] .table {
  margin-bottom: 0;
}
