<div class="jumbotron" ng-show="noCurrent">
    <h1><i class="fa fa-bomb"></i> No Adventure</h1>
    <p>You haven't started a crafting adventure.</p>

    <div ng-show="noItems">
        <p>First you need to find some <a href="#/search">items</a>.</p>
        <p>Then you need to review <a href="#/cart">your list</a>.</p>
    </div>

    <div ng-hide="noItems">
        <p>You've already found some <a href="#/search">items</a>.</p>
        <p>Review <a href="#/cart">your list</a> and let's get started!</p>
    </div>
</div>
<div class="jumbotron" ng-show="done" align="center">
    <h1><i class="fa fa-fort-awesome"></i> You Adventured!</h1>
    <p>You gathered <span ng-bind="gatherProgress.total"></span> items and crafted <span ng-bind="craftProgress.total"></span> items on this adventure.</p>
</div>

<div class="row" ng-hide="noCurrent">
    <div class="col-md-7">
        <div ng-if="selectedDagItem" class="visible-xs visible-sm" selected-item data-dag-item="selectedDagItem" data-item="selectedItem" data-items="data.items" data-craft-into="craftInto" data-select-callback="select"></div>

        <header class="visible-xs visible-sm"><h2>Items</h2></header>
        <table class="table collapsible">
            <thead><tr class="info">
                <th class="min-width">
                    <button class="btn btn-xs btn-default" ng-click="sectionGatherOpen = !sectionGatherOpen">
                        <i class="fa fa-fw" ng-class="{'fa-chevron-down': sectionGatherOpen, 'fa-chevron-right': !sectionGatherOpen}"></i>
                    </button>
                </th>
                <th class="min-width title">Gather</th>
                <th colspan="4">
                    <div class="progress"><div class="progress-bar" role="progressbar"
                                               style="width: {{gatherProgress.percent}}%;" ng-bind="gatherProgress.display"></div>
                    </div>
                </th>
                <th class="min-width"></th>
            </tr></thead>
            <tbody ng-show="sectionGatherOpen"><tr
                    ng-repeat="dagItem in dag.list | filter:{gatherable:true} | orderBy: 'name'"
                    data-ng-show="options.showCompletedItems || dagItem.remaining > 0"
                    data-select-callback="select" data-is-selected-callback="isSelected"
                    tr-dag-item data-dag-item="dagItem" data-item="data.items[dagItem.id]" data-data="data">
            </tr></tbody>

            <thead><tr class="info">
                <th class="min-width">
                    <button class="btn btn-xs btn-default" ng-click="sectionCraftOpen = !sectionCraftOpen">
                        <i class="fa fa-fw" ng-class="{'fa-chevron-down': sectionCraftOpen, 'fa-chevron-right': !sectionCraftOpen}"></i>
                    </button>
                </th>
                <th class="min-width title">Craft</th>
                <th colspan="4">
                    <div class="progress"><div class="progress-bar" role="progressbar"
                                               style="width: {{craftProgress.percent}}%;" ng-bind="craftProgress.display"></div>
                    </div>
                </th>
                <th class="min-width"></th>
            </tr></thead>
            <tbody ng-show="sectionCraftOpen"><tr
                    ng-repeat="dagItem in dag.list | filter:{gatherable:false} | orderBy: ['craftSortOrder', 'name']"
                    data-ng-show="options.showCompletedItems || dagItem.remaining > 0"
                    data-select-callback="select" data-is-selected-callback="isSelected"
                    tr-dag-item data-dag-item="dagItem" data-item="data.items[dagItem.id]" data-data="data">
            </tr></tbody>
        </table>
    </div>
    <div class="col-md-5">
        <div ng-if="selectedDagItem" class="visible-md visible-lg" selected-item data-dag-item="selectedDagItem" data-item="selectedItem" data-items="data.items" data-craft-into="craftInto" data-select-callback="select"></div>

        <!-- TODO should location/region be directives so I don't need ng-init and ng-repeat-end -->
        <header class="visible-xs visible-sm"><h2>Locations</h2></header>
        <table class="table table-minimal table-hover collapsible">
            <thead ng-repeat-start="tn in locations.$names"><tr class="info">
                <th class="min-width">
                    <button class="btn btn-xs btn-default" ng-click="expandedRegions[tn] = !expandedRegions[tn]">
                        <i class="fa fa-fw" ng-class="{'fa-chevron-down': expandedRegions[tn], 'fa-chevron-right': !expandedRegions[tn]}"></i>
                    </button>
                </th>
                <th class="title" colspan="3" ng-bind="tn"></th>
            </tr></thead>
            <thead ng-repeat-start="lid in locations[tn].$ids"><tr class="active" ng-hide="!expandedRegions[tn]">
                <th colspan="4">
                    <span ng-bind="data.locations[lid].name"></span>
                    <span ng-if="data.locations[lid].town">
                        (<span ng-bind="data.locations[lid].town"></span>)
                    </span>
                </th>
            </tr></thead>
            <tbody>
                <tr ng-repeat="loc in locations[tn][lid]" ng-show="expandedRegions[tn]">
                    <td><i class="fa fa-fw fa-lg" ng-class="isSelected(loc.dagItem)?'fa-minus-square':'fa-plus-square-o'" ng-click="select(loc.dagItem)"></i></td>
                    <td><span job-icon="loc.job"></span></td>
                    <td><span ng-bind="loc.dagItem.name"></span></td>
                    <td><span ng-bind="loc.name"></span></td>
                </tr>
            </tbody>
            <tbody ng-repeat-end></tbody> <!-- end location -->
            <tbody ng-repeat-end></tbody> <!-- end region -->
        </table>
    </div>
</div>