<tr ng-class="{ 'active': (dagItem.selected), 'success': (!dagItem.selected && !dagItem.remaining), 'warning': (!dagItem.selected && dagItem.remaining && dagItem.final) }" class="form-inline">
    <td align="center"><p class="form-control-static">
        <i class="fa fa-fw" ng-bind="dagItem.remaining" ng-show="dagItem.remaining"></i>
        <i class="fa fa-fw fa-check" ng-hide="dagItem.remaining"></i>
    </p></td>

    <td>
        <div class="input-group input-group-sm">
            <input type="number" class="form-control" min="0" step="1" ng-model="dagItem.userInput.obtained" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 200, 'blur': 0 } }" />
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="dagItem.userInput.obtained = dagItem.userInput.obtained + dagItem.remaining" ng-disabled="dagItem.remaining===0"><i class="fa fa-fw fa-check"></i></button>
            </span>
        </div>
    </td>

    <td><p class="form-control-static">
        <span ng-bind="dagItem.name"></span>
    </p></td>

    <td ng-if="!dagItem.gatherable" title="{{materialNameList}}"><p class="form-control-static radio"><label>
        <input type="radio" name="{{dagItem.name}}" value="craft" ng-model="dagItem.userInput.action" />
        <span job-icon="item" data-limit="craft"></span>
    </label></p></td>
    <td ng-if="dagItem.gatherable && dagItem.gather" title="{{gatherNameList}}"><p class="form-control-static radio"><label>
        <input type="radio" name="{{dagItem.name}}" value="gather" ng-model="dagItem.userInput.action" />
        <span job-icon="item" data-limit="gather"></span>
    </label></p></td>
    <td ng-if="dagItem.gatherable && !dagItem.gather"><p class="form-control-static">
        <i class="text-muted">cannot gather</i>
    </p></td>

    <!-- gatherable items should show monsters here -->
    <td ng-if="dagItem.gatherable && item.monsters" title="{{monsterNameList}}"><p class="form-control-static radio"><label>
        <input type="radio" name="{{dagItem.name}}" value="hunt" ng-model="dagItem.userInput.action" />
        <span job-icon="item" data-limit="hunt"></span>
    </label></p></td>
    <td ng-if="dagItem.gatherable && !item.monsters"><p class="form-control-static">
        <i class="text-muted">cannot hunt</i>
    </p></td>
    <!-- craftable items should show gather here -->
    <td ng-if="!dagItem.gatherable && dagItem.gather" title="{{gatherNameList}}"><p class="form-control-static radio"><label>
        <input type="radio" name="{{dagItem.name}}" value="gather" ng-model="dagItem.userInput.action" />
        <span job-icon="item" data-limit="gather"></span>
    </label></p></td>
    <td ng-if="!dagItem.gatherable && !dagItem.gather"><p class="form-control-static">
        <i class="text-muted">cannot find</i>
    </p></td>


    <td ng-if="item.shops" title="{{shopNameList}}"><p class="form-control-static radio"><label>
        <input type="radio" name="{{dagItem.name}}" value="shop" ng-model="dagItem.userInput.action" />
        <span job-icon="item" data-limit="shop"></span>
        <span><span ng-bind="dagItem.remaining*item.cost"></span></span>
    </label></p></td>
    <td ng-if="!item.shops"><p class="form-control-static">
        <i class="text-muted">cannot shop</i>
    </p></td>

    <td><p class="form-control-static" ng-if="selectCallback">
        <i class="fa fa-fw fa-lg" ng-class="isSelectedCallback(dagItem)?'fa-minus-square':'fa-plus-square-o'" ng-click="selectCallback(dagItem)"></i>
    </p></td>
</tr>
