<span ng-if="item.monsters && (!limit||limit==='hunt')">
    <img ng-src="images/lives/Paladin.png" title="Paladin" />
    <img ng-src="images/lives/Mercenary.png" title="Mercenary" />
    <img ng-src="images/lives/Hunter.png" title="Hunter" />
    <img ng-src="images/lives/Magician.png" title="Magician" />
</span>
<span ng-if="item.trees && (!limit||limit==='gather')"><img ng-src="images/lives/Woodcutter.png" title="Woodcutter" /></span>
<span ng-if="item.ores && (!limit||limit==='gather')"><img ng-src="images/lives/Miner.png" title="Miner" /></span>
<span ng-if="item.fishes && (!limit||limit==='gather')"><img ng-src="images/lives/Angler.png" title="Angler" /></span>
<span ng-if="item.recipe && (!limit||limit==='craft')"><img ng-src="images/lives/{{item.recipe.life}}.png" title="{{item.recipe.life}}" /></span>
<span ng-if="item.locations && (!limit||limit==='gather')"><img ng-src="images/lives/Find.png" title="Find" /></span>
<span ng-if="item.shops && (!limit||limit==='shop')"><img ng-src="images/lives/Dosh.png" title="Dosh" /></span>
