<div class="alert alert-info" data-ng-if="showSearchingMessage()">
    <i class="fa fa-refresh fa-spin"></i> Searching...</div>
<div class="alert alert-info" data-ng-if="showFirstSearchMessage()">
    <i class="fa fa-info-circle"></i> Please enter a search.</div>
<div class="alert alert-danger" data-ng-if="showErrorMessage()">
    <i class="fa fa-exclamation-circle"></i> An error occurred while searching.</div>
<div class="alert alert-warning" data-ng-if="showNoResultsMessage()">
    <i class="fa fa-exclamation-circle"></i> Your query returned no results.</div>
