<!doctype html>
<html ng-app="fantasy_life" ng-controller="fantasy_life.site.html.controller as html">
<head>
    <title>Fantasy Life</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" ng-href="vendor/bootswatch/{{html.theme}}/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="site.css">

    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular-animate/angular-animate.min.js"></script>
    <script src="vendor/angular-hotkeys/angular-hotkeys.min.js"></script>
    <script src="vendor/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="vendor/angular-route/angular-route.min.js"></script>
    <script src="templates.js"></script>
    <script src="index.js"></script>
</head>
<body class="container" ng-class="html.locationClass">

<div data-page-header></div>

<ng-view></ng-view>

</body>
</html>