<p ng-repeat="item in search.results.list | orderBy : ['-$rank', 'name']" class="search-result">
    <span ng-switch="getItemListCount(item)">
        <button ng-switch-when="null" title="Add to Your List"
                class="btn btn-xs btn-primary" ng-click="addToItemList(item)"><i class="fa fa-fw fa-plus"></i></button>
        <button ng-switch-when="1" title="In Your List"
                class="btn btn-xs btn-success" ng-click="addToItemList(item)"><i class="fa fa-fw fa-check"></i></button>
        <button ng-switch-default title="Multiple in Your List"
                class="btn btn-xs btn-success" ng-click="addToItemList(item)"><b class="fa fa-fw" ng-bind="getItemListCount(item)"></b></button>
    </span>
    <span ng-bind="item.name"></span>
    <span job-icon="item"></span>
</p>
<p ng-if="search.hasMoreResults" class="search-result"><i class="text-muted">There are more...</i></p>
