<div class="form-group has-feedback">
    <div class="input-group">
        <div class="input-group-addon" title="text search" ng-click="itemFormModel.type='index'">
            <span class="fa fa-fw fa-font" ng-class="{'text-primary':(itemFormModel.type==='index')}"></span>
        </div>
        <div class="input-group-addon" title="fuzzy search" ng-click="itemFormModel.type='fuzzy'">
            <span class="fa fa-fw fa-magic" ng-class="{'text-primary':(itemFormModel.type==='fuzzy')}"></span>
        </div>
        <div class="input-group-addon" title="regular expression" ng-click="itemFormModel.type='regex'">
            <span class="fa fa-fw fa-asterisk" ng-class="{'text-primary':(itemFormModel.type==='regex')}"></span>
        </div>
        <input type="search" class="form-control" placeholder="Item Name"
               ng-model="itemFormModel.name" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }">
        <div class="form-control-feedback text-muted">
            <span class="fa fa-fw" ng-class="search.status.isSearching?'fa-refresh fa-spin':'fa-search'"></span>
        </div>
    </div>
</div>

<div search-messages="search"></div>

<div ng-show="search.hasResults()" ng-include="'search/result_list.html'"></div>
