<h1>
    Fantasy Life: Crafting Helper
    <br>
    <span class="small" data-ng-show="!hasCart && !hasAdventure">
        Find some <a href="#/search">items</a>,
        add some of them to your <a href="#/cart">list</a>,
        and start your <a href="#/adventure">crafting adventure</a>.
    </span>
    <span class="small" data-ng-show="hasCart && !hasAdventure">
        Looks like you've already got some items in your <a href="#/cart">list</a>.
    </span>
    <span class="small" data-ng-show="hasAdventure">
        Looks like you've already started you're <a href="#/adventure">adventure</a>. So pro.
    </span>
</h1>

<br>

<p>
    It's nice to have an easy to use checklist while you go on your crafting adventure.
</p>

<p>
    Here's a quick rundown of what you'll find:<br/>
    <span ng-bind="locationsCount || '?'"></span> Locations!<br/>
    <span ng-bind="shopsCount || '?'"></span> Shops!<br/>
    <span ng-bind="monstersCount || '?'"></span> Monsters!<br/>
    <span ng-bind="treesCount || '?'"></span> Trees!<br/>
    <span ng-bind="oresCount || '?'"></span> Ores!<br/>
    <span ng-bind="itemsCount || '?'"></span> Items! (<span ng-bind="recipeCount"></span> Recipes!)<br/>
    <span ng-bind="livesCount || '?'"></span> Lives! <img ng-repeat="life in lives" ng-src="images/lives/{{life}}.png" title="{{life}}" /> + <img ng-src="images/lives/Dosh.png" title="Dosh" /><br/>
</p>

<h2>Supplemental Sites</h2>

<p>
    <a href="http://fantasy-life.wikia.com/wiki/Fantasy_Life_Wiki" target="_external">Fantasy Life Wiki</a><br>
    <a href="http://www.reveriaexplorer.com" target="_external">Reveria Explorer</a><br>
    <a href="http://fantasylife.info/" target="_external">Fantasy Life Database</a><br>
    <a href="https://www.reddit.com/r/fantasylife/" target="_external">r/fantasylife</a><br>
</p>
