<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/"><img src="images/logo.png" /> Fantasy Life</a>

            <!-- menu button for XS view -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-page-header" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-page-header">
            <ul class="nav navbar-nav">
                <li data-ng-class="{'active': isActive('/search')}"><a href="#/search"><i class="fa fa-fw fa-search"></i> Search</a></li>
                <li data-ng-class="{'active': isActive('/cart')}"><a href="#/cart"><i class="fa fa-fw fa-shopping-cart"></i> Cart</a></li>
                <li data-ng-class="{'active': isActive('/adventure')}"><a href="#/adventure"><i class="fa fa-fw fa-map"></i> Adventure</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li data-ng-class="{'active': isActive('/reference')}"><a href="#/reference">Reference</a></li>
                <li data-ng-class="{'active': isActive('/settings')}"><a href="#/settings">Settings</a></li>
            </ul>
        </div>
    </div>
</nav>