<h1>Stats</h1>
<p><a href="http://fantasy-life.wikia.com/wiki/Stats" target="_external">Stats | Fantasy Life Wiki</a></p>
<p>
    It's hard to make a build an all-around character, to know which stats are important for what.
    The Fantasy Life wiki has a good reference.
    The desktop version of the site is great, but the mobile adds are heinous.
    So, for simplicity, here is a duplication.
    Please, pay the add tax and support the website, but no one can expect you to withstand what it does on mobile.
</p>

<h2>Combat Stats</h2>
<p>Admittedly, this table is copy-pasta a few style tweaks.</p>
<table class="table" style="height: 1px; width: 1px; background-color: lightgrey; color: black; border-radius: 1em;">
    <tbody><tr>
        <td rowspan="4" style="white-space: nowrap; text-align: left; vertical-align: middle; width: 1px; height: 1px;">Attack
        </td><td style="white-space: nowrap; text-align: left; vertical-align: top; width: 1px; height: 1px;">One-handed Sword
    </td><td style="white-space: nowrap; text-align: left; vertical-align: top; width: 1px; height: 1px;">= <span style="color:red;"><b>Strength</b></span> + ((<span style="color:blue;"><b>Focus</b></span> + <span style="color:#00A474;"><b>Dexterity</b></span>) / 2) + Equipment Bonus
    </td></tr>
    <tr>
        <td style="white-space: nowrap; text-align: left; vertical-align: top; width: 1px; height: 1px;">Two-handed Sword
        </td><td style="white-space: nowrap; text-align: left; vertical-align: top; width: 1px; height: 1px;">= <span style="color:red;"><b>Strength</b></span> + <span style="color:orange;"><b>Vitality</b></span> + Equipment Bonus
    </td></tr>
    <tr>
        <td style="white-space: nowrap; text-align: left; vertical-align: top; width: 1px; height: 1px;">Bow / Dagger
        </td><td style="white-space: nowrap; text-align: left; vertical-align: top; width: 1px; height: 1px;">= <span style="color:#00A474;"><b>Dexterity</b></span> + ((<span style="color:red;"><b>Strength</b></span> + <span style="color:blue;"><b>Focus</b></span>) / 2) + Equipment Bonus
    </td></tr>
    <tr>
        <td style="white-space: nowrap; text-align: left; vertical-align: top; width: 1px; height: 1px;">Staff / Unarmed
        </td><td style="white-space: nowrap; text-align: left; vertical-align: top; width: 1px; height: 1px;">= <span style="color:red;"><b>Strength</b></span>
    </td></tr>
    <tr>
        <td colspan="2" rowspan="1" style="white-space: nowrap; text-align: left; vertical-align: top; width: 1px; height: 1px;">Defense
        </td><td style="white-space: nowrap; text-align: left; vertical-align: top; width: 1px; height: 1px;">= <span style="color:orange;"><b>Vitality</b></span> + Equipment Bonus
    </td></tr>
    <tr>
        <td colspan="2" rowspan="1" style="white-space: nowrap; text-align: left; vertical-align: top; width: 1px; height: 1px;">Magic Attack
        </td><td style="white-space: nowrap; text-align: left; vertical-align: top; width: 1px; height: 1px;">= (<span style="color:#00483A;"><b>Intelligence</b></span> x 1.5) + (<span style="color:blue;"><b>Focus</b></span> / 2) + Equipment Bonus
    </td></tr>
    <tr>
        <td colspan="2" rowspan="1" style="white-space: nowrap; text-align: left; vertical-align: top; width: 1px; height: 1px;">Magic Defense
        </td><td style="white-space: nowrap; text-align: left; vertical-align: top; width: 1px; height: 1px;">= <span style="color:#00483A;"><b>Intelligence</b></span> + Equipment Bonus
    </td></tr></tbody></table>

<h2>Life Stats</h2>
<p>Admittedly, this table is copy-pasta a few style tweaks.</p>

<table class="table" style="height: 1px; width: 1px; background-color: lightgrey; color: black; border-radius: 1em;">
    <tbody><tr>
        <td style="white-space: nowrap; text-align: left; vertical-align: top; width: 1px; height: 1px;">Mining
        </td><td style="white-space: nowrap; text-align: left; vertical-align: top; width: 1px; height: 1px;">= <span style="color:red;"><b>Strength</b></span> + ((<span style="color:blue;"><b>Focus</b></span> + <span style="color:orange;"><b>Vitality</b></span>) / 2) + Equipment Bonus
    </td></tr>
    <tr>
        <td style="white-space: nowrap; text-align: left; vertical-align: top; width: 1px; height: 1px;">Woodcutting
        </td><td style="white-space: nowrap; text-align: left; vertical-align: top; width: 1px; height: 1px;">= <span style="color:red;"><b>Strength</b></span> + ((<span style="color:#00A474;"><b>Dexterity</b></span> + <span style="color:orange;"><b>Vitality</b></span>) / 2) + Equipment Bonus
    </td></tr>
    <tr>
        <td style="white-space: nowrap; text-align: left; vertical-align: top; width: 1px; height: 1px;">Fishing
        </td><td style="white-space: nowrap; text-align: left; vertical-align: top; width: 1px; height: 1px;">= <span style="color:blue;"><b>Focus</b></span> + ((<span style="color:#00483A;"><b>Intelligence</b></span> + <span style="color:#00A474;"><b>Dexterity</b></span>) / 2) + Equipment Bonus
    </td></tr>
    <tr>
        <td style="white-space: nowrap; text-align: left; vertical-align: top; width: 1px; height: 1px;">Cooking
        </td><td style="white-space: nowrap; text-align: left; vertical-align: top; width: 1px; height: 1px;">= <span style="color:blue;"><b>Focus</b></span> + ((<span style="color:#00A474;"><b>Dexterity</b></span> + <span style="color:#00483A;"><b>Intelligence</b></span>) / 2) + Equipment Bonus
    </td></tr>
    <tr>
        <td style="white-space: nowrap; text-align: left; vertical-align: top; width: 1px; height: 1px;">Smithing
        </td><td style="white-space: nowrap; text-align: left; vertical-align: top; width: 1px; height: 1px;">= <span style="color:orange;"><b>Vitality</b></span> + ((<span style="color:blue;"><b>Focus</b></span> + <span style="color:red;"><b>Strength</b></span>) / 2) + Equipment Bonus
    </td></tr>
    <tr>
        <td style="white-space: nowrap; text-align: left; vertical-align: top; width: 1px; height: 1px;">Carpentry
        </td><td style="white-space: nowrap; text-align: left; vertical-align: top; width: 1px; height: 1px;">= <span style="color:orange;"><b>Vitality</b></span> + ((<span style="color:#00A474;"><b>Dexterity</b></span> + <span style="color:red;"><b>Strength</b></span>) / 2) + Equipment Bonus
    </td></tr>
    <tr>
        <td style="white-space: nowrap; text-align: left; vertical-align: top; width: 1px; height: 1px;">Sewing
        </td><td style="white-space: nowrap; text-align: left; vertical-align: top; width: 1px; height: 1px;">= <span style="color:#00A474;"><b>Dexterity</b></span> + ((<span style="color:#00483A;"><b>Intelligence</b></span> + <span style="color:blue;"><b>Focus</b></span>) / 2) + Equipment Bonus
    </td></tr>
    <tr>
        <td style="white-space: nowrap; text-align: left; vertical-align: top; width: 1px; height: 1px;">Alchemy
        </td><td style="white-space: nowrap; text-align: left; vertical-align: top; width: 1px; height: 1px;">= <span style="color:#00483A;"><b>Intelligence</b></span> + ((<span style="color:#00A474;"><b>Dexterity</b></span> + <span style="color:blue;"><b>Focus</b></span>) / 2) + Equipment Bonus
    </td></tr></tbody></table>

<h1>For those who want to Min-Max</h1>
<p>Being a casual game, this is not necessary. But here it is.</p>

<h2>Craft Bonuses</h2>
<p><a href="https://www.reddit.com/r/FantasyLife3ds/comments/2ln5lu/endgame_equipment_guide/" target="_external">End-Game Equipment Guide</a></p>
<p>
    Bonuses are multiplicative not additive. So it's better to stack same bonuses instead of trying to get a variety of different + ones.<br>
    However, resistances, God Mode Time and some other traits are additive.<br>
</p>
<dl>
    <dt>For EXP</dt>
    <dd>+ = 10%</dd>
    <dd>++ = 25%</dd>
    <dd>+++ = 50%</dd>
    <dd>++++ = ?</dd>
</dl>
