<form>
    <div class="form-group">
        <label for="theme">Theme</label>
        <select class="form-control" id="theme" ng-model="html.theme"
                ng-options="t for t in themes" ng-change="saveTheme()"></select>
    </div>

    <div class="form-group">
        <label>Completed Items</label>
        <p data-ng-show="options.showCompletedItems">
            (Show)
            Keep the times in the adventuring lists even after they are complete.
            This lets you review items and change values even after you are done.
        </p>
        <p data-ng-hide="options.showCompletedItems">
            (Hide)
            Remove items from the adventuring lists once you've completed them.
            This clears up space so you only see items that are relevant.
        </p>
        <div><span data-boolean-toggle data-true-text="Show" data-false-text="Hide" data-ng-model="options.showCompletedItems"></span></div>
    </div>

    <div class="form-group">
        <label>Key Shortcuts</label>
        <ul>
            <li>G: hide/show gather section</li>
            <li>C: hide/show craft section</li>
            <li>S: toggle Completed Items (not persisted when you leave the page)</li>
        </ul>
    </div>
</form>

<br>

<button class="btn btn-warning" data-are-you-sure="clearSearch()">Clear Search</button>
<button class="btn btn-warning" data-are-you-sure="clearCart()">Clear Cart</button>
<button class="btn btn-warning" data-are-you-sure="clearAdventure()">Clear Adventure</button>
<button class="btn btn-danger" data-are-you-sure="clearLocalStorage()">Clear Everything</button>
